@font-face {
  font-family: 'Cera Pro 100';
  font-style: normal;

  src: url(./fonts/cerapro-thin-webfont.woff2) format('woff2'),
  url(./fonts/cerapro-thin-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Cera Pro 300';
  font-style: normal;

  src: url(./fonts/cerapro-light-webfont.woff2) format('woff2'),
  url(./fonts/cerapro-light-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Cera Pro 400';
  font-style: normal;

  src: url(./fonts/cerapro-regular-webfont.woff2) format('woff2'),
  url(./fonts/cerapro-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Cera Pro 500';
  font-style: normal;

  src: url(./fonts/cerapro-medium-webfont.woff2) format('woff2'),
  url(./fonts/cerapro-medium-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Cera Pro 700';
  font-style: normal;

  src: url(./fonts/cerapro-bold-webfont.woff2) format('woff2'),
  url(./fonts/cerapro-bold-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Cera Pro 900';
  font-style: normal;

  src: url(./fonts/cerapro-black-webfont.woff2) format('woff2'),
  url(./fonts/cerapro-black-webfont.woff) format('woff');
}
