$f-thin: 'Cera Pro 100', Arial, sans-serif;
$f-light: 'Cera Pro 300', Arial, sans-serif;
$f-regular: 'Cera Pro 400', Arial, sans-serif;
$f-medium: 'Cera Pro 500', Arial, sans-serif;
$f-bold: 'Cera Pro 700', Arial, sans-serif;
$f-black: 'Cera Pro 900', Arial, sans-serif;
