.details-holder {
  background-color: rgba(255,255,255,0.75);
  padding: 40px 50px;
  .item-name {
    font-weight: bold;
  }
  .description {
    padding: 15px 0px 30px 0px;
  }
  img.details-image {
    width: 100%;
  }
  .button-holder {
    .purchase {
      cursor: pointer;
      border-radius: 5px;
      min-width: 200px;
      background-color: #fd9729;
      color: white;
      border: 1px solid #fd9729;
      &:hover {
        background-color: darken(#fd9729, 10%);
      }
    }
  }
}