<div class="details-holder container">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<div class="item-name">
						{{ etsyItem.name }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="description" *ngIf="showDescription">
						{{ etsyItem.description }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img class="details-image" [src]="etsyItem.imagePath">
				</div>
				<div class="col-md-6">
					<p>In order to purchase please Login below:</p>
					<hr>
					<div class="button-holder" *ngIf="showBloomAuthentication">
						<dapp-bloom-button [itemId]='itemId'></dapp-bloom-button>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>