.content {
  min-height: calc(100% + 400px);
  margin: 0 auto -360px;
}

.footer {
  height: 360px;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../assets/images/prague.png");
}

.billboard {
  margin-top: 20px;
  background-color: cyan;
  background-color: rgba($color: cyan, $alpha: 0.3);
  padding: 20px;
  border-radius: 10px;
  font-size: 32px;

}