.items-holder {
  padding: 50px;
  margin-right: 0;
  .etsy-holder {
    cursor: pointer;
    height: 280px;
    max-width: 350px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px #777;
    border-radius: 5px;
    border: 1px solid dimgrey;
    &:hover {
      box-shadow: 0 0 30px #f45800;
    }
    .item-image {
      height: 200px;
      background-color: dimgrey;
      background-size: 100% 100%;
      border-bottom: 1px solid #f5f5f5;
    }
    .item-info {
      padding: 30px 15px;
      .name {
        display: inline-block;
        padding-right: 15px;
        width: 65%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .description {
        color: gray;
        font-size: 14px;
      }
      .price {
        float: right;
        font-weight: bold;
      }
    }
  }
}