.brandie-btn {
  text-transform: none !important;
}

.brandie-btn-sm {
  padding: 0 20px !important;
}

.brandie-btn-md {
  padding: 0 25px !important;
}

.brandie-btn-lg {
  padding: 0 35px !important;
  height: 45px;
  font-size: 1rem !important;
}

.brandie-btn-accent {
  background-color: #1d87e4 !important;
  color: white !important;
}