/*
// commons.scss - file to import all components in folder
*/
@import "variables";

@import "admonition";
@import "colors";
@import "grid";
@import "layout";
@import "icons";
@import "badges";
@import "fonts";
@import "header";
@import "footer";
@import "mdc_custom";
@import "buttons";
@import "cards";
@import "inputs";
@import "animations";
@import "sidebar";
@import "shadows";
@import "form";

.hand-cursor {
  cursor: pointer;
}
.clickable{
  cursor: pointer;
}
