
.brandie-header{
  box-shadow: 5px -5px 12px 0 rgba(0,0,0,.01), 0 1px 10px 0 rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0);
  //border-bottom: solid 1px rgba(212, 212, 212, 0.6) !important;
  background-color: white !important;
  z-index: 999;
}

.header-logo{
  //height: 56px;
  width: 65px;
  margin-left: 10px;
}
