.sm-icon{
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.lg-icon{
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.md-icon{
  height: 24px;
  width: 24px;
}

.gr-icon{
  opacity: 0.6;
}

.round-wrap{
  border-radius: 50%;
  padding: 10px;
  background-color: #495f84;
  height: 24px;
  width: 24px;
}


.accent-icon{
  color: #1d87e4 !important;
}

.gx-icon{
  height: 24px;
}