html {
  position: relative;
  min-height: 100%;
}

body {
  //margin: 0 0 40px; /* bottom = footer height */
  padding: 0;
  font-family: sans-serif;
  background-color: #F5F5F5;
}

.page-content {
  padding-top: 65px;
}

$border-color: rgba(212, 212, 212, 0.6);

.bord-bott {
  border-bottom: 1px $border-color solid;
}

.bord-top {
  border-bottom: 1px $border-color solid;
}

.bord-left {
  border-left: 1px $border-color solid;
}

.bord-ri {
  border-right: 1px $border-color solid;
}

.text-center {
  text-align: center;
}

.divider {
  margin: 40px 0 30px 0;
  border-bottom: solid 1px rgba(212, 212, 212, 0.6);
}
