{meta {:name          "Greeter"
       :description   "Greeting extension"
       :documentation "Sends greeting to the chat"}
 
 views/preview
 (let [{{{name :name} :params} :content} properties]
  [text "Hello ${name}"])

 views/short-preview
 (let [{{{name :name} :params} :content} properties]
  [text "Hello ${name}"])

 hooks/commands.greet
 {:description   "Sends greeting"
  :scope         #{:personal-chats}
  :preview       [preview]
  :short-preview [short-preview]
  :parameters    [{:id          :name
                   :type        :text
                   :placeholder "name"}]}}