.dapp-header {
  height: 70px;
  background-color: white;
  padding: 15px;
  line-height: 40px;
  border-bottom: 1px solid darkgray;
  .logo-holder {
    margin-left: auto;
    margin-right: auto;
  }
  .d-letter {
    position: absolute;
    height: 40px;
    top: 15px;
    width: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/d-letter.png");
  }
  .status-logo {
    position: absolute;
    top: 20px;
    cursor: pointer;
    margin-left: 40px;
    width: 60px;

    color: #f45800;
    fill: #f45800;
  }
  .slogan {
    color: black;
  }
}