.dapp-header {
  height: 100px;
  background-color: #0000FF;
  padding: 30px;
  line-height: 40px;
  .status-logo {
    cursor: pointer;
  }
  .slogan {
    position: absolute;
    right: 30px;
    color: white;
  }
}