*:not(.fa):not(.glyphicon) {
  font-family: 'IBM Plex Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("./assets/images/prague.png");
}