body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.light {
	font-weight: 300;
}

.text-center {
	text-align: center;
}

.width-100 {
	width: 100%;
}

.margin-top {
	margin-top: 10px;
}
.margin-bottom {
	margin-bottom: 10px;
}